@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    min-width: 20em;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}

.lobby-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.button-container {
  margin-top: -20px; /* Adjust as needed */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust as needed */
}
.user-item.container {
  background-color: #9C9C87;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 500px;
}

.user-item.container:hover {
  background-color: #a5a592;
}
.user-item.container {
  position: relative; /* Add relative positioning */
  /* Other styles */
}

.status-indicator {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Add more specific styles for online and offline indicators */
.status-indicator.online {
  background-color: green;
}

.status-indicator.offline {
  background-color: red;
}
