@import "../theme";

.header {
  &.container {
    @include center;
  }

  &.title {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  &.header h2 {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
}