@import "../theme";
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
.header {
  &.container {
    @include center;
  }

  &.title {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Luckiest Guy';
    font-size: 40px;
  }

  &.header h2 {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Luckiest Guy';
  }
}