@import "../theme";


.homepage {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    min-width: 20em;
    font-family: 'Luckiest Guy';
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
    color : BROWN;
  }
}

.lobby-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.join-lobby-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.join-lobby-container button {
  box-sizing: border-box;
  align-self: flex-start;
}
