@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.homepage {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    min-width: 20em;
  }
  &.user-list {
    width: 100%;
    list-style: none;
    gap: 10px;
  }
  &.user-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}

.lobby-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.button-container {
  margin-top: -20px; /* Adjust as needed */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust as needed */
}
