@import "../theme";

.lobby {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    box-shadow: $dropShadow;
    width: 20%;
    align-items: flex-start;
    font-family: 'Luckiest Guy';
    color : BROWN;
  }

  &.user-list {
    width: 100%;
    text-align: left;
    align-items: flex-start;
    list-style: none;

  }

  & p, h2 {
    margin: 0.5em 0;
    color : BROWN;
  }

  &.button-container {
    align-items: flex-end;
  }
}

.lobby-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: -20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-image {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  &:hover {
    transform: scale(1.1);
  }
}

.leaderboard-image {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 9999;
  &:hover {
    transform: scale(1.1);
  }
}

.leaderboard-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.leaderboard-content {
  background-color: rgb(129, 163, 124);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  overflow-y: auto;

  h2 {
    text-align: center;
  }
  footer {
    text-align: right;
    font-size: 15px;
    margin-top: 20px;
  }

  table {
    min-width: 500px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff;

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: BROWN;
    }

    tr:nth-child(even) {
      background-color: BROWN;
    }
  }
}


.rules-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.rules-content {
  background-color: rgb(129, 163, 124);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  overflow-y: auto;
}

.rules-content h2 {
  margin-top: 0;
}

.rules-content p {
  margin-bottom: 20px;
  color:rgb(255, 255, 255);
  font-size: small;
}

.rules-content button {
  margin-top: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 20%;
    height: 35px;
}
