@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    min-width: 20em;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}

.lobby-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: -20px; /* Adjust as needed */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust as needed */
}

.question-image {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999; /* Ensure it's above other content */
}

.rules-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  overflow-y: auto; /* Enable scrolling if content exceeds modal height */
}

.rules-content h2 {
  margin-top: 0;
}

.rules-content p {
  margin-bottom: 20px;
}

.rules-content button {
  margin-top: 10px;
}

.chat{
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.container{
    position: fixed;
    padding: 1.5em;
    bottom: 20px; /* Adjust this value to change the distance from the bottom of the screen */
    right: 20px; /* Adjust this value to change the distance from the right side of the screen */
    width: 300px; /* Adjust this value to change the width of the container */
    height: 300px; /* Adjust this value to change the height of the container */
    background-color: $background;
    border: 1px solid #ccc;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column-reverse;
    align-items: first baseline;
  }

  &.input {
    height: 35px;
    font-weight: 500;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    background: transparentize(rgb(62, 132, 216), 0.85);
    color: $textColor;

  }

&.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 20%;
    height: 35px;
  }
}