@import "../theme";

.profile {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 20em;
    font-size: 18px;
    font-weight: 400;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
    }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
}

.player {
  &.container {
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
  }
  &.list-item {
    display: flex;
    align-items: center;
  }
  &.info-item {
    margin-bottom: 10px;
  }
}

.user-item.container {
  position: relative; /* Add relative positioning */
  /* Other styles */
}

.status-indicator {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Add more specific styles for online and offline indicators */
.status-indicator.online {
  background-color: green;
}

.status-indicator.offline {
  background-color: red;
}
