

$accent: #486c50;
$accentDark: #486c50;
$textColor: rgb(255, 255, 255);
$background: rgb(210, 204, 194);


$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

$fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;

$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.75em;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}